@charset "UTF-8";

#framebox-container {
  position: fixed;
  width: 30%;
  //max-width: 500px;
  right: 0;
  bottom: 53px;

  section {margin-bottom: 0!important;}
  .framebox-item {
    visibility: hidden;
    opacity: 0;
    max-height: 0;

    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;

    &.framebox-visible {
      visibility: visible;
      opacity: 100%;
      height: inherit;
      max-height: 500px;
    }
  }

  .framebox-clicker-container {
    .framebox-clicker {
      &.active {
        background-color: rgba(0,0,0, 0.05);
      }
    }
  }
}

// Bulma CSS Default Media Queries
//
//           768         1024                1216         1408
//  '     '     '     '     '     '     '     '     '     '     '     '
//  <---------^------------^------------------^-------------^------------->
//   mobile      tablet         desktop         widescreen      fullhd

@media screen and (max-width: 1408px) {}
@media screen and (max-width: 1216px) {
  #framebox-container {width: 40%;}
}
@media screen and (max-width: 1024px) {
  #framebox-container {width: 50%;}
}
@media screen and (max-width: 768px) {
  #framebox-container {width: 100%;}
}

// END Media Queries END